<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TAP RATIO | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    
    <style type="text/css">
        html {
            height: 100%;
          }
          

        .set{
            text-align: center;

          }

          .lineUp {
              animation: 2s anim-lineUp ease-out infinite;
            }
            @keyframes anim-lineUp {
              0% {
                opacity: 0;
                transform: translateY(80%);
              }
              20% {
                opacity: 0;
              }
              50% {
                opacity: 1;
                transform: translateY(0%);
              }
              100% {
                opacity: 1;
                transform: translateY(0%);
              }
            }

          body {
            font-family: 'Rajdhani', sans-serif;
          }

            ul {
          list-style-type: none;
          margin: 10;
          padding: 20;
          overflow: hidden;
          background-color: #0f1554;
        }

        li.customfont { 
          font-family: 'Rajdhani', sans-serif;
        }
        
        li {
          float: left;   
        }
        
        li a {
          border-radius: 25px;
          display: block;
          color: #ffffff;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          
        }
        
        li a:hover:not(.active) {
          background-color: #141a5f;
        }
        
        .active {
          background-color: #141a5f;
        }

        .what_is {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
        }

        .div1 { grid-area: 4 / 1 / 5 / 2; }
        .div2 { grid-area: 4 / 2 / 5 / 3; }

    </style>
        </head>
        <body>
          
          <h1 class="set">TAP RATIO </h1>
      
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="mood">Mood</a></li>
            <li><a href="add">Add assignment</a></li>
             <li><a href="assignment">assignment</a></li>
            <li><a href="todo">To do today</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Signup</a></li>
          </ul>
      
          <!-- <p id="nawTask" class="set" hidden><%= newTask %><p> -->
          <ol id="usertask" style="text-decoration: none;"></ol>
      
      </body>
      <script>
        // let newTask = document.getElementById('allTask').textContent
        // let usingSplit = allmood.split(',');
        // console.log(`Client has "${usingSplit}" as a friend and data is "${typeof usingSplit}`)
    
        // let j = usingSplit.length
        // console.log(usingSplit[1])
        // for (let i = 0; i < j; i++) {
        //     let usertasklist = document.querySelector('#usertasklist');
        //     let listing = document.createElement('li');
        //     let friendList = document.createElement('p')
        //     let textnode = document.createTextNode(usingSplit[i]);
        //     listing.appendChild(friendList)
        //     friendList.appendChild(textnode)
        //     document.getElementById("usermoodlist").appendChild(listing);
        //     console.log(`And allmood is ${usingSplit[i]}`)
        // }
    </script>





        
        </html> 
        
        
        