<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TAP RATIO | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    
    <style type="text/css">
        html {
            height: 100%;
          }
          

        .set{
            text-align: center;

          }

          .lineUp {
              animation: 2s anim-lineUp ease-out infinite;
            }
            @keyframes anim-lineUp {
              0% {
                opacity: 0;
                transform: translateY(80%);
              }
              20% {
                opacity: 0;
              }
              50% {
                opacity: 1;
                transform: translateY(0%);
              }
              100% {
                opacity: 1;
                transform: translateY(0%);
              }
            }

          body {
            font-family: 'Rajdhani', sans-serif;
          }

            ul {
          list-style-type: none;
          margin: 10;
          padding: 20;
          overflow: hidden;
          background-color: #0f1554;
        }

        li.customfont { 
          font-family: 'Rajdhani', sans-serif;
        }
        
        li {
          float: left;   
        }
        
        li a {
          border-radius: 25px;
          display: block;
          color: #ffffff;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          
        }
        
        li a:hover:not(.active) {
          background-color: #141a5f;
        }
        
        .active {
          background-color: #141a5f;
        }

        .what_is {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
        }

        .div1 { grid-area: 4 / 1 / 5 / 2; }
        .div2 { grid-area: 4 / 2 / 5 / 3; }

    </style>
        </head>
        <body>
          
          <h1 class="set">TAP RATIO </h1>
      
          <ul>
            <li><a href="mood">Mood</a></li>
            <li><a href="add">Add assignment</a></li>
            <li><a href="assignment">Assignment</a></li>
            <li><a href="todo">To do today</a></li>
          </ul>
      

          



    <div class="set">
        <h2>T ime management</h2>
        <h2>A nd</h2>
        <h2>P lanners</h2>
    
        <p id="UserbyCookies" style="color: white;" hidden><%=UserbyCookies %></p>

      </div>
      </body>
      <script>
        var UserbyCookies = document.getElementById("UserbyCookies").textContent
        console.log("Check: authVar =",UserbyCookies)
        if(document.cookie != "") {
            console.log("Pass: First Condotion✔")
            if(UserbyCookies == "True"){
                console.log("Pass: Second Condotion✔")
                document.getElementById("navlogin").style.display = "none";
                const cookieValidation = document.getElementById("cookieUsername");
                cookieValidation.textContent = "Username : " + document.cookie.slice(9)
            }
            if(UserbyCookies == "False"){
                console.log("Pass: Third Condotion❌")
                document.getElementById("cookieUsername").style.display = "none";
            }
        }
        else if(document.cookie == ""){
            console.log("Pass: Fourth Condotion❌")
            document.getElementById("cookieUsername").style.display = "none";
        }
    </script>





        
        </html> 
        
        
        