<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAP RATIO | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #221d23;
        }
        </style>
        </head>
        <body>
        <h1>TAP RATIO</h1>
        <ul>
          <li><a href="mood">Mood</a></li>
          <li><a href="task">Add task</a></li>
          <li><a href="assessment">Assessment</a></li>
          <li><a href="todo">To do today</a></li>
        </ul>
        
        </body>
        </html>
        
        
        