<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="set_cf.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAP RATIO | mood</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    
    <style type="text/css">
    
  
       body {
            font-family: 'Rajdhani', sans-serif;
          }
        .set_m{
          margin: 10px;
          padding: 20px;
        }
         .sad{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #6f85bf ;
            color: whitesmoke;
            margin: 10px;
            padding: 20px;
        }
        .so{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #86be56;
            color: whitesmoke;
            margin: 10px;
            padding: 20px;
            
        }
        .happy{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f8d281;
            color:whitesmoke;
            margin: 10px;
            padding: 20px;
            overflow: hidden;
        }

        .stress{
            font-family: Arial, Helvetica, sans-serif;
            background-color: grey;
            color: whitesmoke;
            margin: 10px;
            padding: 20px;
        }
        .angry{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #000000;
            color: whitesmoke;
            margin: 10px;
            padding: 20px;
        }
       .terrible{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #a452aa ;
        color: whitesmoke;
        margin: 10px;
        padding: 20px;
       }

       
       h1 {
      text-align: center;
      }
ul {
          list-style-type: none;
          margin: 10;
          padding: 20;
          overflow: hidden;
          background-color: #0f1554;
        }
        
        li {
          float: left;
        }
        
        li a {
          border-radius: 25px;
          display: block;
          color: #ffffff;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          
        }
        
        li a:hover:not(.active) {
          background-color: #141a5f;
        }
        
        .active {
          background-color: #141a5f;
        }
        .button4{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
    a.button4:hover{
    border-color: rgba(255,255,255,1);
    }
    @media all and (max-width:30em){
    a.button4{
    display:block;
    margin:0.2em auto;
    }
    }

   





    </style>
</head>
<body >
    <h1>TAP RATIO</h1>
    <h2>It' a good day, isn't it</h2>
    <h3>Would you mind telling us how do you feel today</h3>
     
    
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="assignment">Add assignment</a></li>
          <li><a href="assignment">Assignment</a></li>
          <li><a href="todo">To do today</a></li>
        </ul>
      
    <form id="mood" 
    action="/mood_history"
    method="POST">
    <!-- enctype="multipart/form-data"> -->

    

        <div class="happy">
            <h2>happy</h2>
            <h3>Happiness depends upon ourselves.</h3>
            <input type="radio" name="happy" value="happy" > Happy
    
         </div>    
         <div class="so">
            <h2>So so</h2>
            <h3>I felt so much that I started to feel nothings</h3>
            <input type="radio"  name="so" value="so so"> So so
         </div>    

         <div class="stress">
            <h2>Stress</h2>
            <h3>It's not the stress that kills us, it's our reaction to it.</h3>
            <input type="radio" name="stress"  value="stress">Stress
    
         </div>    
         <div class="angry">
            <h2>Angry</h2>
            <h3>Anger is one letter short of danger.</h3>
            <input type="radio" name="angry"  value="angry" >Angry
         </div> 
        <div class="sad">
            <h2>Sad</h2>
            <h3>Tears are word the heart can't say.</h3>
            <input type="radio" name="sad" value="sad" >Sad
    
         </div> 
         <div class="terrible">
            <h2>Terrible</h2>
            <h3>I would say I'm okay, buy I'm done lying.</h3>
            <input type="radio" name="terrible" value="terrible" >Terrible
    
         </div> 

            <button class="button4" style="background-color: #0f1554;" type="submit" >done</button>
        
         
    </form>

  </body>
   

</body>
</html>