<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="set.css">
    <title>TAP RATIO | signup success</title>
    
</head>

<body >
   
   <form  
   action="/"
   method="GET"
   >

       <div>

            <h1>Signup Success</h1>
           

           <button class="button4" style="background-color: #0f1554;" type="submit" >Home</button>


       </div>






   </form>

</body>
</html>