<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <title>TAP RATIO | assignment</title>
    
    <style>
      body {
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
      }
ul {
          list-style-type: none;
          margin: 10;
          padding: 20;
          overflow: hidden;
          background-color: #0f1554;
        }
        
        li {
          float: left;
        }
        
        li a {
          border-radius: 25px;
          display: block;
          color: #ffffff;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          
        }
        
        li a:hover:not(.active) {
          background-color: #141a5f;
        }
        
        .active {
          background-color: #141a5f;
        }

        .what_is {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
        }

        .div1 { grid-area: 4 / 1 / 5 / 2; }
        .div2 { grid-area: 4 / 2 / 5 / 3; }

    </style>
    
</head>
  <body>
    


    <h1 class="set">TAP RATIO </h1>
      
    <ul>
      
      <li><a href="/">Home</a></li>
      <li><a href="mood">Mood</a></li>
      <li><a href="add">Add assignment</a></li>
       <li><a href="assignment">assignment</a></li>
      <li><a href="todo">To do today</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="register">Signup</a></li>
    </ul>


    
    
    <h2>add assignment</h2>
    
    <form action="/assignment" method="POST" name="addTask">
  
        <label for="tname">Assignment name:</label><br>
        <input type="text" name="tname"><br>
        <h1>     </h1>
        <label for="duedate">duedate:</label>
        <input type="date" name="duedate" />
       
        <br><br>
        <input type="submit" value="Submit">



      </form>
   </body>
</html>