<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAP RATIO | task</title>
    <link rel="stylesheet" href="set_cf.css">
    <style>
      h1 {
      text-align: center;
      }
ul {
          list-style-type: none;
          margin: 10;
          padding: 20;
          overflow: hidden;
          background-color: #0f1554;
        }
        
        li {
          float: left;
        }
        
        li a {
          border-radius: 25px;
          display: block;
          color: #ffffff;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          
        }
        
        li a:hover:not(.active) {
          background-color: #141a5f;
        }
        
        .active {
          background-color: #141a5f;
        }

        .what_is {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
        }

        .div1 { grid-area: 4 / 1 / 5 / 2; }
        .div2 { grid-area: 4 / 2 / 5 / 3; }

    </style>
    
</head>
  <body>
    <h1>add task</h1>


    <form>
        <label for="tname">Task name:</label><br>
        <input type="text" id="tname"><br>

        <label for="priority">priority:</label>
        <select name="tag" id="tag">
          <option value="Important & Urgent">Important & Urgent</option>
          <option value="Not important but Urgent">Not important but Urgent</option>
          <option value="Important but not Urgent">Important but not Urgent</option>
          <option value="Not important & not Urgent">Not important & not Urgent</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">



      </form>
   </body>
</html>