<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAP RATIO | task</title>
    <link rel="stylesheet" href="set_cf.css">
    <style>
       
    </style>
    
</head>
<body >
    <h1>add task</h1>


    <form>
        <label for="tname">Task name:</label><br>
        <input type="text" id="tname"><br>

        <label for="priority">priority:</label>
        <select name="tag" id="tag">
          <option value="Important & Urgent">Important & Urgent</option>
          <option value="Not important but Urgent">Not important but Urgent</option>
          <option value="Important but not Urgent">Important but not Urgent</option>
          <option value="Not important & not Urgent">Not important & not Urgent</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">



      </form>
</body>
</html>